.app{
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  margin:2rem;
}

.app>div:first-child{
  background-color: #474747;
  padding: 1.6rem;
  border-radius: 0.6rem;
}

.row{
  display:flex;
  gap: 0.8rem;
}

.column{
  display:flex;
  flex-direction: column;
  gap: 0.8rem;
}

.display{
  width: 10.6rem;
  height: 3rem;
  display:flex;
  place-items:center;
  border:1px solid #cacaca;
  border-radius: 0.1rem;
  background-color: #d5d5d5;
  overflow-x: scroll;
}
.display h3{
  font-size: 1.2rem;
}

button{
  width:3rem;
  height: 3rem;
  border:1px solid #cacaca;
  border-radius:0.3rem;
  border-radius: 0.1rem;
  background-color: #f9f9f9;
  cursor: pointer;
  font-size: 1.2rem;
  text-align:center;
}

.yellow{
  border:1px solid rgb(214, 193, 3);
  background-color: rgb(214, 193, 3);
}
.gray-blue{
  border:1px solid rgb(53, 53, 88);
  background-color: rgb(53, 53, 88);
  color:#ffffff;
}